:root {
    --side-padding: 8%;
    --color-back: #EAEFF5;
    --color-dark: #1D1D20;
    --color-bright: #E1E1E1;
    --color-bright-2: #D0D6DC;
    --color-gray: #A3A3AC;
    --color-grey: #53535C;
    --color-orange: #FFaa00;
}

* {
    margin: 0;
    font-size: 22px;
    font-family: sans-serif, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

body {
    margin: 0;
    background: var(--color-back);
}

a {
    text-decoration: none;
    color: inherit;
}

.head1 {
    color: var(--color-grey);
}

.head1 h1,
.head1 h2,
.head1 h3 {
    color: var(--color-dark);
    font-size: 250%;
    margin-top: .3rem;
}

.card1 {
    position: relative;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1/1;
    border-radius: 10px;
    contain: content;
}

.card1 .content {
    color: var(--color-gray);
    position: relative;
    z-index: 2;
    font-size: 130%;
    padding: 1rem 2rem 2rem;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, rgba(30, 29, 32, .77) 5%, rgba(29, 29, 32, .48) 18%,
            rgba(27, 27, 30, .14) 30%, rgba(27, 27, 30, .14) 55%, rgba(24, 24, 27, .85) 75%);
}

.card1 .content .title,
.card1 .content h1,
.card1 .content h2,
.card1 .content h3,
.card1 .content h4,
.card1 .content h5,
.card1 .content h6 {
    color: var(--color-bright);
    font-size: 120%;
}

.card1 .content p {
    font-size: 100%;
}

.card1 .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    z-index: 1;
}

.card1 .background>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.button1 {
    display: block;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: .3rem .5rem;
    background-color: var(--color-orange);
    color: var(--color-bright-2);
    font-weight: bold;
}


header {
    position: absolute;
    top: 0;
    width: 100%;
    margin-top: 30px;
    text-align: center;
    z-index: 10;
}

footer {
    background-color: var(--color-bright-2);
    color: var(--color-grey);
    text-align: center;
    padding: 3rem;
}

section {
    min-height: 50vh;
    padding: 0 var(--side-padding);
    position: relative;
}

section.first {
    margin-top: 7rem;
}

header>span {
    display: inline-block;
    /*width: 120px;*/
    padding: 0 1rem;
    color: var(--color-grey);
}

section.helo {
    height: 100vh;
    background-image: url(./images/blake-connally-B3l0g6HLxr8-unsplash.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 2.5rem;
    box-shadow: 0px 3px 90px 100px var(--color-dark), inset 0px -120px 57px -70px var(--color-dark);
}

section.helo>div {
    position: relative;
    width: 100%;
    height: 100%;
    color: var(--color-bright);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background-image: radial-gradient(50% 50% at 50% 47.02%, rgba(23, 25, 28, 0.7) 0%, rgba(23, 25, 28, 0.532) 51.35%, rgba(23, 25, 28, 0.098) 100%);
}

section.helo>div>nav {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 0;
    color: var(--color-grey);
    gap: 1.8rem;
}

section.helo>div button {
    background: #FEC202;
    height: 72px;
    width: 223px;
    border-radius: 100px;
    font-weight: 800;
    font-size: 27px;
    color: #222222;
    border: none;
}

section.helo>div h4 {
    font-size: 150%;
}

section.helo>div h1>* {
    font-size: 300%;
    word-spacing: 0.4rem;
    margin: 0 0.4rem;
}

section.helo>div h1>span {
    font-weight: initial;
}

section.helo>div h1>b {
    font-weight: bold;
}


section.about,
section.about>* {
    display: flex;
    align-items: center;
    flex-direction: column;
}

section.about {
    height: 100vh;
    flex-direction: row;
    justify-content: space-between;
    color: var(--color-dark);
}

section.about .display-image img {
    max-width: 100%;
}

section.about>.content {
    width: 50%;
    gap: 1rem;
}

section.about>.content>* {
    width: 100%;
}

section.about>.content>.body {
    color: var(--color-grey);
}

section.about>.content>.title>* {
    font-size: 200%;
}

section.about>.content>span {
    font-size: 150%;
    color: var(--color-orange);
}

section.about>.content>.my-links {
    display: flex;
    gap: 2.5rem;
}

section.skills {
    background-color: var(--color-bright-2);
    padding-top: 6%;
    padding-bottom: 6%;
}

section.skills+* {
    box-shadow: inset 0px 115px 60px -70px var(--color-bright-2);
}

section.skills>.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--color-grey);
    gap: 11%;
    margin-top: 3rem;
}

section.skills>.content>* {
    max-width: 50%;
    font-size: 120%;
}

section.skills>.content>.levels {
    width: -webkit-fill-available;
}

section.skills>.content>.levels>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    width: 100%;
    margin: 0.7rem 0;
}

section.skills>.content>.levels>div progress {
    width: 70%;
    max-width: -webkit-fill-available;
}

section.skills>.content>.levels>div progress[value] {
    -webkit-appearance: none;
    appearance: none;
    height: 10px;
}

section.skills>.content>.levels>div progress[value]::-webkit-progress-bar {
    border-radius: 10px;
}

section.skills>.content>.levels>div progress[value]::-webkit-progress-value {
    background-color: var(--color-orange);
    border-radius: 10px;
}

section.blogs {
    position: relative;
    padding-top: 6%;
    padding-bottom: 6%;
}

section.blogs>.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 3rem;
}

section.blogs>.body>div.card {
    width: 45%;
}

section.sign {
    margin: 5rem 0;
}

section.sign>div {
    margin: 0 auto;
    width: 100%;
    contain: content;
    display: flex;
    max-width: 1000px;
    aspect-ratio: 1.8/1;
    border-radius: 10px;
    background-color: var(--color-dark);
    color: var(--color-bright-2);
}

section.sign>div>* {
    width: 50%;
}

section.sign>div>.image {
    contain: content;
}

section.sign>div>.image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.sign>div>.content>* {
    margin: 2rem auto;
    width: 70%;
}

section.sign>div input {
    width: -webkit-fill-available;
    display: block;
    outline: none;
    border-radius: 5px;
    border: none;
    padding: .3rem .5rem;
    background-color: var(--color-bright-2);
    color: var(--color-dark);
    margin-bottom: 15px;
}

section.sign>div input[type=checkbox] {
    width: fit-content;
    display: inline-block;
    margin-right: 10px;
}

.list>.item {
    margin: 3rem 0;
    display: flex;
    flex-direction: row;
    color: var(--color-dark);
}

.list>.item>.count {
    font-size: 400%;
    padding: 0 2rem;
}

.list>.item>div>h2 {
    font-size: 250%;
    margin-top: .3rem;
}

.list>.item>div>.date {
    color: var(--color-gray);
    margin: .5rem 0;
}

.list>.item>div>.body {
    color: var(--color-grey);
}

section.work {
    padding: 3rem var(--side-padding);
}

section.contact {
    display: flex;
    flex-direction: row;
}

section.contact>div {
    width: 50%;
}

section.contact>div svg path {
    fill: var(--color-grey);
}

section.contact>div {
    color: var(--color-grey);
}

section.contact>div>.address {
    padding: 3rem 1.5rem;
}

section.contact>div>.address>div {
    display: flex;
    align-items: center;
    margin: .5rem 0;
    gap: 1.5rem;
}

section.contact.first {
    padding-top: 0;
}

section.contact {
    padding: 3rem var(--side-padding);
}

section.contact>div form>label>p {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

section.contact>div form>label {
    margin: 1rem 0;
    display: block;
}

section.contact>div form>label>textarea,
section.contact>div form>label>input {
    width: -webkit-fill-available;
    padding: .4rem .7rem;
    outline: none;
    background-color: var(--color-bright-2);
    border: none;
    border-radius: 5px;
}

section.contact>div form>label>textarea {
    resize: vertical;
}

section.contact>div form>button {
    padding: .4rem 1rem;
}

.blogList>.blogItem {
    display: flex;
    flex-direction: row;
    gap: 1.5rem;
    margin: 2rem 0;
    border-radius: 5px;
    contain: content;
    background-color: #CED5DD;
}

.blogList>.blogItem .image {
    width: 800px;
    background-position: center;
    background-size: cover;
    min-width: 150px;
}

.blogList>.blogItem>.content {
    padding: 1rem 1rem 1rem 0;
}

.blogList>.blogItem h1,
.blogList>.blogItem h2,
.blogList>.blogItem h3,
.blogList>.blogItem h4,
.blogList>.blogItem h5,
.blogList>.blogItem h6 {
    color: var(--color-dark);
    margin-bottom: 1.2rem;
    font-size: 130%;
}

.blogList>.blogItem .date {
    color: var(--color-gray);
    margin: .3rem 0;
}

.blogList>.blogItem .body {
    color: var(--color-grey);
    margin: .3rem 0;
}

.blogList>.blogItem .feedbacks {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
    margin-top: 1.2rem;
}

.blogList>.blogItem .feedbacks>* {
    display: flex;
    align-items: center;
    gap: 5px;
}

.blogList>.blogItem .feedbacks * {
    color: var(--color-gray);
    fill: var(--color-gray);
}

section.blog {
    color: var(--color-dark);
}

section.blog img {
    max-width: 100%;
    margin: 1rem 0;
    border-radius: 10px;
}

section.blog .info {
    display: flex;
    justify-content: space-between;
}

section.blog .info,
section.blog .info * {
    color: var(--color-gray);
    fill: var(--color-gray);
}

section.blog .feedbacks {
    display: flex;
    gap: 1rem;
}

section.blog .feedbacks>div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

section.blog .body {
    margin: 1rem 0 3rem;
}